.bg-inverse {
	color: #ff0000;
	background-color: #000099;
	margin-bottom: 0;
}

.jumbotron {
	background-color: cyan;
	background-image: url("../Images/Pokemon_Go_title_page.jpg");
	height: 200px;
	
}

body {

}
.navbar-brand {
	color: red;
	font-size: 22px;
}

.navbar-brand:hover {
	color: white;
}

.navbar-nav .nav-item {
	float: left;
}

nav ul li a {
	color: white;
}

.nav-item:hover {
	background-color: white !important;
	color: black;
}

.navbar-toggle {
	border-color: white;
}

.icon-bar {
	background-color: white;
}

